.leaflet-container {
    width: auto;
    filter: brightness(1) grayscale(10);
   height: 600px;
}
.leaflet-marker-icon {

}

/* 

@media (min-width: 1281px) {
    .leaflet-container {
        min-height: 600px;
    }

    
  }
  

  
  @media (min-width: 1025px) and (max-width: 1280px) {
    .leaflet-container {
      min-height: 600px;
  }

    
  }
  

  
  @media (min-width: 768px) and (max-width: 1024px) {
    .leaflet-container {
      min-height: 600px;
  }

    
  }
  

  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .leaflet-container {
        min-height: 600px;
    }

    
  }
  

  
  @media (min-width: 481px) and (max-width: 767px) {
    .leaflet-container {
      min-height: 550px;
  }

    
  }
  

  
  @media (min-width: 320px) and (max-width: 480px) {
    .leaflet-container {
        min-height: 550px;
    }

    
  } */