@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Big Shoulders';
    src: url('../public/fonts/BigShouldersDisplay-VariableFont_wght.ttf');
  }
  @font-face {
    font-family: 'Outfit';
    src: url('../public/fonts/Outfit-VariableFont_wght.ttf');
  }
}